#Projects {
  background-color: white;
  width: 100vw;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 40px;
  padding-bottom: 40px;
}

#Projects h1 {
  font-size: 3vw;
  position: relative;
  left: 45%;
}

.Projects {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: wrap;
}

@media (max-width: 760px) {
  #Projects {
    padding: 0;
  }
  #Projects h1 {
    font-size: 6vw;
    font-weight: 700;
    left: 35%;
  }
}
