#Home {
  /* display: flex; */
  position: relative;
  width: 100vw;
  height: 100vh;
  /* padding-left: 100px; */
  /* padding-left: 100px;
  padding-right: 100px;
  padding-top: 60px;
  padding-bottom: 40px;
  overflow: hidden; */
}

.LandingText {
  /* position: relative; */
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
  position: absolute;

  width: 50vw;
  top: -26%;
  left: 10%;
  color: black;
  height: 100%;
  z-index: 10;
  /* text-align: left; */
  /* padding-left: inherit;
  text-align: ;
  display: table-cell;
  vertical-align: middle; */
}
.Landing {
  background: url("../../media/undraw_developer_activity_bv83.svg") no-repeat
    center center;

  /* background-image: url("../../media/undraw_developer_activity_bv83.svg");
  background-color: #ffffff;
   background-size: contain; 
  background-size: cover;
  background-position: left;
  background-repeat: no-repeat;
  background-blend-mode: multiply;  */

  /* display: table; */

  /* position: relative;
  left: 90px; */

  /* width: 125vw; */
  height: 100vh;
  width: 100%;
  overflow: hidden;
  padding: 0;
  z-index: 9;
  /* padding-left: 195px; */
}

.LandingText h1 {
  font-size: 5vw;
  transform: scale(1, 1);
}

.LandingText p {
  font-size: 1.6vw;
  font-weight: 500;
}

.Button {
  width: 20%;
}

@media (max-width: 760px) {
  .Landing {
    /* background-image: url("../../media/plant.jpg"); */
    width: 100vw;
  }
}

/* Galaxy Fold */
@media (max-width: 319px) {
  .LandingText {
    width: 63vw;
    top: -15%;
  }
  .LandingText h1 {
    font-size: 17vw;
  }
  .LandingText p {
    font-size: 6vw;
    font-weight: 700;
  }
  .Button {
    width: 55%;
  }
}

/* iPhone5 */
@media screen and (min-width: 320px) and (max-width: 374px) {
  .LandingText {
    width: 63vw;
    top: -15%;
  }
  .LandingText h1 {
    font-size: 17vw;
  }
  .LandingText p {
    font-size: 6vw;
    font-weight: 700;
  }
  .Button {
    width: 55%;
  }
}

/* iphone678 & iPhoneX */
@media (min-width: 375px) and (max-width: 413px) {
  .LandingText {
    width: 60vw;
    top: -14%;
  }
  .LandingText h1 {
    font-size: 16vw;
  }
  .LandingText p {
    font-size: 5vw;
    font-weight: 700;
  }
  .Button {
    width: 50%;
  }
}

/* iphone678-Plus */
@media (min-width: 414px) and (max-width: 539px) {
  .LandingText {
    width: 60vw;
    top: -12%;
  }
  .LandingText h1 {
    font-size: 16vw;
  }
  .LandingText p {
    font-size: 5vw;
    font-weight: 700;
  }
  .Button {
    width: 50%;
  }
}

/* SurfaceDuo */
@media (min-width: 540px) and (max-width: 568px) {
  .LandingText {
    width: 56vw;
    top: -17%;
  }
  .LandingText h1 {
    font-size: 11vw;
  }
  .LandingText p {
    font-size: 4vw;
    font-weight: 600;
  }
  .Button {
    width: 40%;
  }
}

/* width 569-573 */
@media (min-width: 569px) and (max-width: 573px) {
  .LandingText {
    width: 56vw;
    top: -15%;
  }
  .LandingText h1 {
    font-size: 11vw;
  }
  .LandingText p {
    font-size: 4vw;
    font-weight: 600;
  }
  .Button {
    width: 40%;
  }
}

/* width 574-710 */
@media (min-width: 574px) and (max-width: 710px) {
  .LandingText {
    width: 56vw;
    top: -15%;
  }
  .LandingText h1 {
    font-size: 11vw;
  }
  .LandingText p {
    font-size: 4vw;
    font-weight: 600;
  }
  .Button {
    width: 40%;
  }
}

/* width 711-767 */
@media (min-width: 711px) and (max-width: 767px) {
  .LandingText {
    width: 56vw;
    top: -10%;
  }
  .LandingText h1 {
    font-size: 11vw;
  }
  .LandingText p {
    font-size: 4vw;
    font-weight: 600;
  }
  .Button {
    width: 40%;
  }
}

/* iPad */
@media (min-width: 768px) and (max-width: 832px) {
  .LandingText {
    width: 56vw;
    top: -15%;
  }
  .LandingText h1 {
    font-size: 11vw;
  }
  .LandingText p {
    font-size: 4vw;
    font-weight: 600;
  }
  .Button {
    width: 40%;
    font-size: large;
  }
}

/* iPadPro */
@media (min-width: 833px) and (max-width: 1024px) {
  .LandingText {
    width: 60vw;
    top: -20%;
  }
  .LandingText h1 {
    font-size: 7vw;
  }
  .LandingText p {
    font-size: 3vw;
    font-weight: 700;
  }
  .Button {
    width: 40%;
    font-size: large;
  }
}
