#Skills {
  position: relative;
  width: 100vw;
  /* height: 85vh; */
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 60px;
  padding-bottom: 20px;
}

.Skills {
  /* background-image: linear-gradient(white, #728192); */
  display: flex;
  flex-direction: column;
  width: 100vw;
  /* background-color: white;
  width: 100vw;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 40px;
  padding-bottom: 40px; */
}

#Skills h1 {
  font-size: 3vw;
  position: relative;
  left: 45%;
}

.SkillsText {
  width: 85vw;
  /* padding-left: 5px; */
}

.SkillsCards {
  padding-right: 105px;
}
/* Galaxy Fold */
@media (min-width: 200px) and (max-width: 318px) {
  #Skills {
    padding: 1px;
  }
  #Skills h1 {
    font-size: 6vw;
    font-weight: 700;
    left: 35%;
  }

  #Skills p {
    font-size: 5vw;
    font-weight: 600;
    left: 35%;
  }
  .SkillsText {
    width: 100vw;
    padding: 10px;
  }
  .SkillsCards {
    width: 75%;
    padding: 1px;
  }
}

/* iPhone 5 */
@media (min-width: 319px) and (max-width: 374px) {
  #Skills {
    padding: 10px;
  }
  #Skills h1 {
    font-size: 7vw;
    font-weight: 700;
    left: 35%;
  }

  #Skills p {
    font-size: 5vw;
    font-weight: 600;
    left: 30%;
  }
  .SkillsText {
    width: 100vw;
    padding: 5px;
  }
  .SkillsCards {
    width: 75%;
    padding: 1px;
  }
}
/* iPhone 678 & iPhoneX */
@media (min-width: 375px) and (max-width: 413px) {
  #Skills {
    padding: 10px;
  }
  #Skills h1 {
    font-size: 7vw;
    font-weight: 700;
    left: 35%;
  }

  #Skills p {
    font-size: 5vw;
    font-weight: 600;
    left: 30%;
  }
  .SkillsText {
    width: 100vw;
    padding: 5px;
  }
  .SkillsCards {
    width: 75%;
    padding: 1px;
  }
}
