#About {
  position: relative;
  /* background-image: linear-gradient(#504f60, white); */
  width: 100vw;
  /* height: 85vh; */
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 60px;
  padding-bottom: 40px;
}

.About {
  position: relative;
  display: flex;
  width: 100vw;
}

.AboutPic {
  width: 30vw;
  height: 60vh;
}

.AboutText {
  position: relative;
  width: 45vw;
  height: 60vh;
  padding: 20px;
}

.AboutButton {
  position: relative;
  left: 50px;
}
#About h1 {
  font-size: 3vw;
  position: relative;
  left: 40%;
}

/* Galaxy Fold */
@media (min-width: 200px) and (max-width: 319px) {
  #About {
    padding: 1px;
  }
  #About h1 {
    font-size: 6vw;
    font-weight: 700;
    left: 35%;
  }
  #About h2 {
    font-size: 6vw;
    font-weight: 700;
    left: 35%;
  }
  #About p {
    font-size: 5vw;
    font-weight: 600;
    left: 35%;
  }
  .AboutButton {
    position: relative;
    left: 15px;
  }
  .About {
    flex-direction: column;
  }
  .AboutText {
    position: relative;
    width: 100vw;
    height: 100vh;
    padding: 10px;
  }

  .AboutPic {
    width: 100vw;
    height: 30vh;
    padding-right: 1px;
  }
}

/* iPhone 5 */
@media (min-width: 200px) and (max-width: 319px) {
  #About {
    padding: 1px;
  }
  #About h1 {
    font-size: 6vw;
    font-weight: 700;
    left: 35%;
  }
  #About h2 {
    font-size: 6vw;
    font-weight: 700;
    left: 35%;
  }
  #About p {
    font-size: 5vw;
    font-weight: 600;
    left: 35%;
  }
  .AboutButton {
    position: relative;
    left: 15px;
  }
  .About {
    flex-direction: column;
  }
  .AboutText {
    position: relative;
    width: 100vw;
    height: 100vh;
    padding: 10px;
  }

  .AboutPic {
    width: 100vw;
    height: 30vh;
    padding-right: 1px;
  }
}
