#About {
  /* display: flex; */
  width: 100vw;
  height: 75vh;
  /* justify-content: flex-end; */
}

.About {
  /* background-image: linear-gradient(#364558, white); */
  display: flex;
  width: 100vw;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 40px;
  padding-bottom: 40px;
}

.AboutText {
  /* position: relative;
  right: 0px; */
  width: 75vw;
  padding: 20px;
}

.About h1 {
  font-size: 4vw;
}

@media (max-width: 760px) {
  .About {
    width: 100%;
    padding-left: 0;
  }
}
