#About {
  position: relative;
  /* background-image: linear-gradient(#504f60, white); */
  width: 100vw;
  display: inline-table;

  /* height: 100vh; */

  /* padding-left: 100px;
  padding-right: 100px;
  padding-top: 60px;
  padding-bottom: 40px; */
}

.About {
  position: relative;
  display: flex;
  width: 100vw;

  /* height: 75vh; */
}

.AboutPic {
  width: 30vw;
  height: 60vh;
}

.AboutText {
  position: relative;
  display: inline-table;
  width: 45vw;
  height: 60vh;
  padding: 20px;
}

.AboutButton {
  position: relative;
  left: 50px;
}
#About h1 {
  font-size: 3vw;
  position: relative;
  left: 40%;
}

/* Galaxy Fold */
@media (min-width: 200px) and (max-width: 318px) {
  #About {
    padding: 10px;
  }
  #About h1 {
    font-size: 6vw;
    font-weight: 700;
    left: 35%;
  }
  #About h2 {
    font-size: 6vw;
    font-weight: 700;
    left: 35%;
  }
  #About p {
    font-size: 5vw;
    font-weight: 600;
    left: 35%;
  }
  .AboutButton {
    position: relative;
    left: 15px;
  }
  .About {
    flex-direction: column;
  }
  .AboutText {
    position: relative;
    width: 100vw;
    height: 100vh;
  }

  .AboutPic {
    width: 100vw;
    height: 30vh;
    padding-right: 1px;
  }
}

/* iPhone 5 */
@media (min-width: 319px) and (max-width: 374px) {
  #About {
    padding: 10px;
  }
  #About h1 {
    font-size: 7vw;
    font-weight: 700;
    left: 30%;
  }
  #About h2 {
    font-size: 6vw;
    font-weight: 700;
    left: 30%;
    padding: 5px;
  }
  #About p {
    font-size: 4vw;
    font-weight: 600;
    left: 30%;
    padding: 5px;
  }
  .AboutButton {
    position: relative;
    left: 15px;
  }
  .About {
    flex-direction: column;
  }
  .AboutText {
    position: relative;
    width: 100vw;
    height: 100vh;
    padding: 10px;
  }

  .AboutPic {
    width: 100vw;
    height: 30vh;
    padding-right: 1px;
  }
}

/* iPhone 678 & iphone x AND MORE to fix text going into Skills section */
@media (min-width: 375px) and (max-width: 700px) {
  #About {
    padding: 10px;
  }
  #About h1 {
    font-size: 7vw;
    font-weight: 700;
    left: 30%;
  }
  #About h2 {
    font-size: 6vw;
    font-weight: 700;
    left: 30%;
    padding: 5px;
  }
  #About p {
    font-size: 4vw;
    font-weight: 600;
    left: 30%;
    padding: 5px;
  }
  .AboutButton {
    position: relative;
    left: 15px;
  }
  .About {
    flex-direction: column;
  }
  .AboutText {
    position: relative;
    width: 100vw;
    height: 75vh;
    padding: 10px;
  }

  .AboutPic {
    width: 100vw;
    height: 30vh;
    padding-right: 1px;
  }
}
