.Footer {
  background-color: aquamarine;
  width: 100%;
  /* position: fixed; */
  bottom: 0;

  /* padding-left: 200px; */

  /* padding-top: 40px;
  padding-bottom: 40px;  */
  display: flex;
  flex-direction: row;
}

@media (max-width: 760px) {
  .Footer {
    width: 100%;
    position: static;
    padding-left: 0;
  }
}
