.Footer {
  /* background-color: #9c9ca1; */
  width: 50%;
  margin: auto;
  padding: 10px;
  /* bottom: 0; */
}

.Footer img {
  height: 50px;
}

@media (max-width: 760px) {
  .Footer {
    width: 100%;
    position: static;
    padding-left: 0;
  }
}
