.Footer {
  /* background-color: #9c9ca1; */
  width: 50%;
  margin: auto;
  padding: 10px;
  /* bottom: 0; */
}

.Footer img {
  height: 50px;
}

@media (min-width: 200px) and (max-width: 319px) {
  .Footer {
    width: 95%;
    padding: 0px;
    margin-bottom: 10px;
    margin-top: 10px;
  }

  .Footer img {
    height: 25px;
    margin-bottom: 2px;
  }
}
